<html>
<head>
    <title>Glooffy bot </title>
    <link rel="stylesheet" type="text/css" href="static\styles.css">
</head>
<body>
    <div id="main-wrapper">
        <div id="nav-bar">
                <div id="nav-tags">Developer Website</div>
        </div>
        <div id="container-1">
            <h1 id="text-align-middle">Welcome, talk to gloofy on kik</h1>
            <div id="aboutbox">
                <p id="aboutbot">
                    Glooffy is a weather bot. It can tell you anything about the weather,
                    suggest you what to wear and play games with you.Try it now!
                </p>
                <img src = "static/kik_logo.svg" id = "kik-logo"/>
                <p>@glooffybot</p>
            </div>
        </div>
        <div id="container-2"></div>
    </div>
</body>
</html>
